<app-navbar></app-navbar>
<!-- Page content -->
<div class="content">
    <h3 class="mt-3">Manage-Gallery</h3>
    <hr>
    <div>
        <button class="btn" style="float:right!important; background-color: rgb(154, 209, 227); margin-top:-70px!important;">Add Image</button>
    </div>
    <nav aria-label="breadcrumb" style="background-color: rgba(196, 203, 216, 0.322)!important; padding:5px 10px;">
        <ol class="breadcrumb ">
          <li class="breadcrumb-item pt-2"><a href="#">Manage-Gallery</a></li>
          <li class="breadcrumb-item active pt-2" aria-current="page">Library</li>
        </ol>
    </nav>
</div>
