<app-navbar></app-navbar>

<!-- Page content -->
<div class="content">
    <h3 class="mt-3">Add-Item</h3>
  
    <hr>
    <nav aria-label="breadcrumb" style="background-color: rgba(196, 203, 216, 0.322)!important; padding:5px 10px;">
        <ol class="breadcrumb ">
          <li class="breadcrumb-item pt-2"><a routerLink="/item">Manage-Item</a></li>
          <li class="breadcrumb-item active pt-2" aria-current="page">Add-Item</li>
        </ol>
    </nav>
    <div class="container">
      <form #itemData="ngForm" (ngSubmit)="onSubmit(itemData.value)"  class="mt-4 border" style="padding: 20px;">
        <div class="form-group">
          <label>Item Name</label>
          <input type="text" name="itemName" ngModel required class="form-control">
        
        </div>
          <div class="form-group mt-4">
            <label>Select Image</label>
            <input type="file" name="image" ngModel  class="form-control">
          
          </div>
          <div class="form-group mt-4">
            <label for="exampleFormControlSelect1">Select Category</label>
            <select class="form-control" name="categoryName" ngModel>
              <option>Select Category</option>
              <option  *ngFor="let category of categories"  >{{category.categoryName}}</option>
            
            </select>
          </div>
          <div class="form-group mt-4">
            <label>Description</label>
             <textarea name="description" ngModel required class="form-control id="description></textarea>
          </div>
          <div class="form-group mt-4">
            <label>Price</label>
            <input type="number" name="price" ngModel required class="form-control" id="sort">
          </div>
          <div class="form-group mt-4">
            <label>Sort</label>
            <input type="number" name="sort" ngModel required="" class="form-control" id="sort">
          </div>

          <button type="submit" class="btn btn-secondary mt-4">Submit</button>
        </form>
  </div>
  </div>