<nav class="navbar navbar-expand-lg bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand  text-white" href="">Admin-Panel</a>
      <button class="navbar-toggler d-sm" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="d-sm collapse navbar-collapse" id="navbarNav">
        <ul style="list-style: none; margin-top: 15px; margin-left: -30px;" class="text-white">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard">Dashboard</li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/gallery"  class="mt-3">Manage-Gallery</li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/category" class="mt-3">Manage-Category</li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/item" class="mt-3">Manage-Item</li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact-us" class="mt-3">Manage-Contact</li>
        </ul>

      </div>

      <button class="btn text-dark float-right d-large" style="background-color: lightblue;">Sign-out</button>

    </div>
</nav>
<!---------------side - navbar ------->
<!-- The sidebar -->
<div class="sidebar bg-dark">
  <a class="text-white" routerLinkActive="active"  routerLink="/dashboard">Dashboard</a>
  <a class="text-white" routerLinkActive="active" routerLink="/gallery">Manage-Gallery</a>
  <a class="text-white" routerLinkActive="active" routerLink="/category">Manage-Category</a>
  <a  class="text-white" routerLinkActive="active" routerLink="/item">Manage-item</a>
  <a  class="text-white" routerLinkActive="active" routerLink="/contact-us">Manage-contact</a>
</div>
